/* .dropdown-menu {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    display: block;
    pointer-events: none;
}

.dropdown.show .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
} */